<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="templar.riotandroid">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/riot_logo_yellow_square"
        android:roundIcon="@mipmap/riot_logo_yellow_square"
        android:logo="@mipmap/riot_logo_yellow_square"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".framework.MainActivity"
            android:label="@string/mainactivity_label">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".framework.LoginActivity"
            android:theme="@style/LoginTheme"/>

        <service
            android:name=".sync.SensorFlowSyncIntentService"/>
    </application>
</manifest>